<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.automationPractice.Utils.CustomerListener" />
		<listener class-name="com.automationPractice.retryLogic.TransformerForRetry" />
		<listener class-name="com.automationPractice.ExtentReports.ExtentReportListener" />


	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automationPractice.Tests.OrderConfirmationFinalPageTest" />
			<class name="com.automationPractice.Tests.ShoppingOrderPageTest" />
			<class name="com.automationPractice.Tests.MyAccountPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->